body
	font-family 16px 'Ubuntu', sans-serif


input:active, input:hover, input:focus{
    outline: none !important;
}

a:active, a:hover, a:focus{
    outline: none !important;
}

img:active, img:hover, img:focus{
    outline: none !important;
}


.app
	background-color #FFF
	background-image url('../img/background.png')
	display block
	min-height 648px
	width 1200px
	margin 40px auto 0

.frmlogin
	display block
	margin 0 auto 0
	padding 180px 0 0 0
	width 340px	

.logo
	display block
	margin 0 auto 28px
	width 130px
	img
		display block
		width 100%
		
.input-layer
	display block
	margin 0 0 27px 0 
	text-align center
	label
		color #BEF7FF
		display block
		font-size 0.8em
		margin 0 0 10px 0
	.left, .right, input
		display inline-block
		vertical-align top
	.left
		background-image url('../img/corchete_izquierdo.png')
		height 99px
		margin -35px -15px 0 0
		width 17px
		
	.right
		background-image url('../img/corchete_derecho.png')
		margin -35px 0 0 -15px
		height 99px
		width 17px
	
	input
		background #FFF
		border none
		border-radius 0 0 15px 0
		color #484848
		font-size 0.9em
		margin 0 10px
		height 17px
		text-align center
		padding 10px 20px
		width 204px
.send 
	background #FC6701
	border none
	border-radius 0 15px 0 0
	color #FFF
	display block
	height 30px
	margin 0 auto
	width 130px
	font-size 0.9em